/* * é o reset do htmlN */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background Principal */
body{
  min-height: 100vh;
  background: #010440;
  font-family: var(--font-principal);

}


/* estrutura do scroll */
::-webkit-scrollbar {
  width: 8px;
}


/* barra que  arrasta */
::-webkit-scrollbar-thumb {
  background: var(--background-header);
  border-radius: 15px;
}

/* efeito quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #452de4;
;
}


:root{
  /* fontes */
  --font-principal: sans-serif, Open Sans;
  --font-secundaria: Roboto Condensed, Roboto, sans serif;

  /* cores fontes */
  --color-font-principal: #f7f7f7;
  --color-font-secundaria: black;
  --color-font-opaca: rgba(240, 248, 255, 0.5);

  /* cores background */
  --background-principal:#010440;
  --background-secundario: #1E1940;
  --background-header:#3A29A6;

}
